<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="step.core.scanner" level="error" />
	<logger name="step.core.plugins" level="error" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>